Flow1
[{"id":"4244bb37.131874","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"61b16e1c.e169c","type":"ui_slider","z":"4244bb37.131874","name":"","label":"slider","tooltip":"","group":"55dc13f5.93b56c","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":450,"y":280,"wires":[["7e6cfaf2.967014","10554670.d60f92","bdeef390.8dc89","9346e9e.3465018"]]},{"id":"7e6cfaf2.967014","type":"ui_gauge","z":"4244bb37.131874","name":"","group":"55dc13f5.93b56c","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":280,"wires":[]},{"id":"10554670.d60f92","type":"ui_chart","z":"4244bb37.131874","name":"","group":"55dc13f5.93b56c","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":360,"wires":[[]]},{"id":"9346e9e.3465018","type":"function","z":"4244bb37.131874","name":"date","func":"var now = new Date();\nvar year = now.getFullYear();\nvar month = now.getMonth()+1;\nvar day = now.getDate();\nvar hour = now.getHours();\nvar minute = now.getMinutes();\nvar second = now.getSeconds();\nmsg.payload = day+\"/\"+\n              month+\"/\"+\n              year+\" à \"+\n              hour+\":\"+\n              second+\" => \"+\n              msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":560,"wires":[["bdeef390.8dc89","93d59a2f.e88238"]]},{"id":"93d59a2f.e88238","type":"ui_text","z":"4244bb37.131874","group":"55dc13f5.93b56c","order":3,"width":0,"height":0,"name":"","label":"Valeur le ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":840,"y":560,"wires":[]},{"id":"bdeef390.8dc89","type":"debug","z":"4244bb37.131874","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":480,"wires":[]},{"id":"55dc13f5.93b56c","type":"ui_group","name":"Actions","tab":"fc326213.b42428","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fc326213.b42428","type":"ui_tab","name":"Gestion de la température","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
