Flow2
[{"id":"9d9dcccc.42882","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9cdb2d01.372af8","type":"mysql","z":"9d9dcccc.42882","mydb":"9117b321.a5744","name":"iot","x":370,"y":220,"wires":[["251a17de.75fda","bde7ee55.fd4c3"]]},{"id":"eed534b8.2bafb8","type":"inject","z":"9d9dcccc.42882","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1500","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM mesures;","payload":"","payloadType":"date","x":150,"y":220,"wires":[["9cdb2d01.372af8"]]},{"id":"251a17de.75fda","type":"debug","z":"9d9dcccc.42882","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"bde7ee55.fd4c3","type":"function","z":"9d9dcccc.42882","name":"prepareHtml","func":"var o;\no = msg.payload.split(\";\");\nvar temp = {};\nvar html = \"<table width='100%'><tr><td width='25%'>Humidité</td><td width='25%'>Température</td><td width='25%'>Consigne</td><td width='25%'>Etat LED</td></tr><tr>\";\nfor(var i in o) {\n    temp = o[i];\n    html += \"<td>\"+temp+\"</td>\";\n}\nhtml += \"</tr></table>\";\nmsg.payload = html;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["b749be.02bf6e4"]]},{"id":"b749be.02bf6e4","type":"ui_template","z":"9d9dcccc.42882","group":"659ab91f.5f4e8","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":610,"y":480,"wires":[[]]},{"id":"9117b321.a5744","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"iot","tz":"","charset":"UTF8"},{"id":"659ab91f.5f4e8","type":"ui_group","name":"Mesures","tab":"fc326213.b42428","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"fc326213.b42428","type":"ui_tab","name":"Gestion de la température","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
